.nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 3vw;
  list-style: none;
}

.loginBtn {
  color: var(--purple);
  background-color: transparent;
  border: none;
}

.trialBtn {
  height: 40px;
  padding: 0 16px;
}
