:root {
  --black: #1b1b1a;
  --purple: #7348ff;
  --text-small: 16px;
  --text-medium: 18px;
  --text-large: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
  font-size: var(--text-small);
  font-family: sans-serif;
}
